/* Suppression des marges et paddings par défaut */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Assure que le body occupe toute la hauteur de la page */
}

body {
    display: flex;
    flex-direction: column; /* Permet d'organiser le contenu verticalement */
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Fond clair pour un bon contraste */
    color: #333; /* Couleur du texte */
}

/* Conteneur principal */
.wrapper {
    flex: 1; /* Le contenu principal occupe l'espace disponible */
    display: flex;
    flex-direction: column; /* Organisation verticale */
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
}

/* Menu */
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #333;
    padding: 10px 0;
    font-size: 1.4em;
}

.menu li {
    position: relative;
    padding: 10px 20px;
    margin: 0 15px;
}

.menu li a {
    text-decoration: none;
    color: white;
    display: block;
}

.menu li:hover {
    background-color: #434242;
}

/* Sous-menu */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.menu-enfant:hover .submenu {
    display: block;
}

.submenu a {
    color: white;
    padding: 10px 20px;
    display: block;
}

.submenu a:hover {
    background-color: #007BFF;
}

/* Présentation */
.image-container {
    margin-top: 20px;
    text-align: center;
}

.circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000;
}

.titre {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.paragraphe {
    max-width: 800px;
    padding: 1em;
    background: white;
    border-radius: 8px;
}

/* PDF Embed */
embed {
   margin: 0;
    padding: 0;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    color: gray;
}

.footer img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        text-align: center;
    }

    .menu li {
        margin: 10px 0;
    }

    .paragraphe {
        margin: 10px;
        padding: 0.8em;
    }

    embed {
        height: calc(100vh - 250px); /* Ajustement pour petits écrans */
    }

    .footer {
        flex-direction: column;
        padding: 15px;
    }
}
